
.diceTray {
  box-sizing: border-box;
  border: 1px solid gray;
  width: 512px;
  max-width: 100%;
  height: fit-content;
  min-height: 192px;
  border-radius: 25px;
  box-shadow: 5px 5px 8px gray inset;
  background-color: darkgray;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.actions {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.turnDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.player {
  padding: 5px 10px;
}
.activePlayer {
  font-weight: bold;
  border: 2px solid white;
  border-radius: 8px;
}

.emptyRolls {
  text-align: center;
}
.emptyRolls h5 {
  margin: 0px;
  margin-bottom: 5px;
}
.emptyRollMarker__wrapper {
  display: flex;
}
.emptyRollMarker {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.scorecard {
  position: relative;
}
.lockBoxes {
  top: -12px;
  right: 7px;
  width: 106px;
  height: 110%;
  border: 1px solid grey;
  position: absolute;
  text-align: center;
  border-radius: 5px;
}
.lockBoxes h5 {
  margin: 0px;
  margin-bottom: 5px;
  pointer-events: none;
}