.scoreTable {
  table-layout: fixed;
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  border: 1px solid black
}

.scoreTable th, .scoreTable td {
  font-size: 24px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

.scoreTable__totalColumn {
  width: 20%;
}

.scoreTable__colorColumn {
  color: black;
}

.scoreTable__colorColumn--red {
  background-color: var(--light-red);
}

.scoreTable__colorColumn--yellow {
  background-color: var(--light-yellow);
}

.scoreTable__colorColumn--green {
  background-color: var(--light-green);
}

.scoreTable__colorColumn--blue {
  background-color: var(--light-blue);
}

.scoreTable__colorColumn__header--red {
  background-color: var(--red);
}

.scoreTable__colorColumn__header--yellow {
  background-color: var(--yellow);
}

.scoreTable__colorColumn__header--green {
  background-color: var(--green);
}

.scoreTable__colorColumn__header--blue {
  background-color: var(--blue);
}