.scoreRow__box {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  margin: 2px;
  border-radius: 5px;
  position: relative;
  border: none;
}

.scoreRow__box:disabled {
  cursor:default;
}
.scoreRow__box:hover:not(:disabled) {
  border: 2px solid white;
  box-shadow: 0px 0px 1px 2px gray;
}

.scoreRow__box--attention {
  position: absolute;
  font-size: 10pt;
}

.scoreRow__box--scored {
  color: black;
  position: absolute;
  opacity: 0.5;
  font-size: 24pt;
}

.scoreRow__box--selected {
  color: black;
  position: absolute;
  opacity: 0.25;
  font-size: 24pt;
}

.scoreRow__box__lockedBar {
  position: absolute;
    width: 100%;
    border: 2px solid #666;
    border-radius: 4px;
}

.scoreRow__box--red {
  color: var(--red);
  background-color: var(--light-red);
}
.scoreRow__box--yellow {
  color: var(--yellow);
  background-color: var(--light-yellow);
}
.scoreRow__box--green {
  color: var(--green);
  background-color: var(--light-green);
}
.scoreRow__box--blue {
  color: var(--blue);
  background-color: var(--light-blue);
}